<!-- This is the messages page -->
<!-- Add link to compose new message form (POST route to /messages on submit of form) -->

<!-- Form needs to include user names not user ID in a drop down with select element. The user_id would be saved as the value property in the selection options. -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cottage Haven - Messages</title>
    <%- include('partials/_head') %>
  </head>

  <body>

    <%- include('partials/_header') %>

    <main style="margin: 1em;" class="container">


      <!-- New Message Compisition Form -->
      <section class="new-message">
        <h2>Compose Message</h2>
        <form class="message-form" method="POST" action="/api/messages/notes">
          <!-- Displays recipient user dropdown menu to select recipient -->
          <div class="dropdown">
            <select name="receiver_id">
              <% for (let user of allUsers) { %>
               <option value="<%=user.u_id%>">
                 <%=user.name%>
                </option>
             <% } %>
            </select>
          </div>
          <!-- Textbox and send button -->
          <textarea name="content" id="message-text" placeholder="Type your message here."></textarea>
          <div>
            <button class="send-button" type="submit">Send</button>

          </div>
        </form>
      </section>

      <!-- Received Message Display-->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Messages</th>
            <th scope="col">From</th>
            <th scope="col">Date</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% if (messages.length === 0) {%>
           <tr>No Messages Received</tr>
           <%} else { %>

            <% for(let message of messages) {%>

              <tr>
                <td><%= message.content%></td>
                <td><%= allUsers.find(u => u.u_id == message.sender_id).name%></td>
                <td><%= message.sent_date%></td>
                <td><form class="delete-button" method="GET" action="/api/messages/delete_message/<%=message.id%>"><button type="submit">Delete</button></form></td>
              </tr>
              <%}%>
            <%}%>

        </tbody>
      </table>
    </main>
      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
