<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Cottage Haven - favourites</title>
    <%- include('partials/_head') %>

  </head>

  <body>

    <%- include('partials/_header') %>

    <main>
      <!-- add code for propery profile. -->
      <h2>My Listings</h2>
      <section id="property-main">
        <article id="property-left">
          <h3><%=properties.title%>
            <% if(properties.sold) {%>
              - <span style="color: red">SOLD!</span>
            <% } else { %>
              - <span style="color: green">FOR SALE!</span>
            <% } %>
          </h3>
          <h4><%= `$${properties.price.toFixed(2)}` %></h4>
          <ul>
            <li><%=`Bathrooms: ${properties.number_of_bathrooms}`%></li>
            <li><%=`Bedrooms: ${properties.number_of_bedrooms}`%></li>
            <li><%=`Parking Spaces: ${properties.parking_spaces}`%></li>
            <li><%=`Address: ${properties.street}`%><br/>
              <%=`${properties.province}, ${properties.post_code}`%>
            </li>
          </ul>
          <div id="property-btn-container">
            <form class="form-inline" action="api/properties/EDIT?" method="POST">
              <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <form class="form-inline" action="api/properties/SOLD?" method="POST">
              <button type="submit" class="btn btn-warning">Mark Sold</button>
            </form>
            <form class="form-inline" action="api/properties/DELETE?" method="POST">
              <button type="submit" class="btn btn-warning">Delete</button>
            </form>
          </div>
        </article>

        <article id="property-right">
          <img src="https://picsum.photos/200/300" alt="property image">
        </article>


    </main>

      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
