<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Cottage Haven - Property Profile</title>
    <%- include('partials/_head') %>

  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <!-- add code for propery profile. -->
      <section id="property-top">
        <h2><%=property.title%></h2>
        <div id="fave-msg-owner-btns">
          <form class="form-inline" action="/api/users/add/favourite" method="POST">
            <input type="hidden" name="property" value="<%=property.property_id%>">
            <button type="submit" class="btn btn-primary">Add To Faves</button>
          </form>
          <a class="btn btn-primary" href="/api/messages/notes?to=<%=property.owner_id%>">
            Message <%=property.owner%>
          </a>
        </div>
      </section>

      <section id="property-main">
        <article id="property-left">
          <h4><%=property.price%></h4>
          <ul>
            <li>Bath: <%=property.number_of_bathrooms%></li>
            <li>Beds: <%=property.number_of_bedrooms%></li>
            <li>Parking: <%=property.parking_spaces%></li>
          </ul>
          <div id="property-btn-container">
            <form class="form-inline" action="api/properties/EDIT?" method="POST">
              <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <form class="form-inline" action="api/properties/DELETE?" method="POST">
              <button type="submit" class="btn btn-warning">Delete</button>
            </form>
          </div>
        </article>

        <article id="property-right">
          <img src="https://picsum.photos/200/300" alt="property image">
        </article>
      </section>

      <article id="property-desc">
        <p><%=property.description%></p>
      </article>

      <section id="thumbs">
        <img src=<%=property.photo_url_1%> alt="property image">
        <img src="<%=property.photo_url_2%>">
        <img src="<%=property.photo_url_3%>" alt="property image">
        <img src="<%=property.photo_url_4%>" alt="property image">

      </section>

    </main>

      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
